{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title|striptags }}{% endblock %}

{% set summary = article.content.split("\n")[0] %}

{% if summary %}
{% block description %}{{ summary|striptags|e|trim }}{% endblock description %}
{% endif %}

{% block extrahead %}
<link rel="stylesheet" href="/{{THEME_STATIC_DIR}}/css/news_view.css">
{% endblock extrahead %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}

{% endblock %}

{% block content %}
<nav class="nav has-shadow" style="padding-left: 1%">
  <div class="container">
    <div class="nav-left">
      <span class="nav-item">Latest news:</span>
      {% for article in articles[:3] %}
      <a class="nav-item is-tab" href="{{ article.url }}">{{article.title}}</a>
      {% else %}
      <span class="nav-item">No news found</span>
      {% endfor %}
    </div>
  </div>
</nav>
<section class="section">
  <div class="container">
    <p class="field">
      <a class="button is-outlined is-primary" href="/news">
        <span class="icon">
          <i class="fa fa-chevron-left"></i>
        </span>
        <span>Back to news</span>
      </a>
    </p>
    <br>
    <div class="box news-view content gallery">
      <div class="news-title-section">
        <div class="is-pulled-right" style="display: block;">
          <img src="{{ article.author_avatar }}" class="box image is-32x32" title="Posted by {{ article.authors[0] }}" />
        </div>
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
          <h1 class="news-title" style="display: inline">
            {{ article.title }}
          </h1>
        </a>
        <br>
        <span class="news-subtitle" style="display: inline" class="title is-3">
          <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
        </span>
      </div>
      <hr>
      {{ article.content }}
    </div>
  </div>
</section>

{% include 'sponsors.html' %}

{% endblock %}
