{% extends "base.html" %}
{% block title %}News{% endblock title %}
{% block extrahead %}
<link rel="stylesheet" href="/{{THEME_STATIC_DIR}}/css/news_view.css">
{% endblock extrahead %}
{% block content %}
<nav class="nav has-shadow" style="padding-left: 1%">
    <div class="container">
        <div class="nav-left">
            <span class="nav-item">Latest news:</span>
            {% for article in articles[:3] %}
            <a class="nav-item is-tab" href="{{ article.url }}">{{article.title}}</a>
            {% else %}
            <span class="nav-item">No news found</span>
            {% endfor %}
        </div>
    </div>
</nav>
<section class="section">
    <div class="container">
        <a href="/feeds" class="button is-primary is-pulled-right news-action-button">
            <span class="icon">
                <i class="fa fa-rss"></i>
            </span>
        </a>

        <h1 class="title">
            News
        </h1>

        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}

        <br>

        {% for article in articles_page.object_list %}
        <div class="box news-view content gallery">
            <div class="news-title-section">
                <div class="is-pulled-right" style="display: block;">
                    <img src="{{ article.author_avatar }}" class="box image is-32x32" title="Posted by {{ article.authors[0] }}" />
                </div>
                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">
                    <h1 class="news-title" style="display: inline">
                        {{ article.title }}
                    </h1>
                </a>
                <br>
                <span class="news-subtitle" style="display: inline" class="title is-3">
                    <time datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time>
                </span>
            </div>
            <hr>
            <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
        </div>
        {% else %}
        <h2 class="subtitle">No news posts were found.</h2>
        {% endfor %}
        {% if articles_page.has_other_pages() %}
            {% include 'pagination.html' %}
        {% endif %}
    </div>
</section>

{% include 'sponsors.html' %}

{% endblock content %}
