{% if DEFAULT_PAGINATION %}
{% set first_page = articles_paginator.page(1) %}
{% set last_page = articles_paginator.page(articles_paginator.num_pages) %}
<nav class="pagination is-centered">
    {% if articles_page.has_previous() %}
        <a class="pagination-previous" href="/{{ articles_previous_page.url }}">Newer posts</a>
    {% else %}
        <a class="pagination-previous" disabled>Newer posts</a>
    {% endif %}
    {% if articles_page.has_next() %}
        <a class="pagination-next" href="/{{ articles_next_page.url }}">Older posts</a>
    {% else %}
        <a class="pagination-next" disabled>Older posts</a>
    {% endif %}
    <ul class="pagination-list">
        {% if articles_page.number > 1 %}
        <li>
            <a class="pagination-link" href="/{{ first_page.url }}">1</a>
        </li>
        {% endif %}
        {% if articles_page.number > 2 %}
        <li>
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        {% endif %}
    
        {% if articles_page.number - 1 > 1 %}
        <li>
            <a class="pagination-link" href="/{{ articles_paginator.page(articles_page.number - 1).url }}">{{articles_page.number - 1}}</a>
        </li>
        {% endif %}
        <li>
            <a class="pagination-link is-current">{{ articles_page.number }}</a>
        </li>
        {% if articles_page.number + 1 < articles_paginator.num_pages %}
        <li>
            <a class="pagination-link" href="/{{ articles_paginator.page(articles_page.number + 1).url }}">{{articles_page.number + 1}}</a>
        </li>
        {% endif %}
    
        
        {% if articles_page.number < articles_paginator.num_pages - 1 %}
        <li>
            <span class="pagination-ellipsis">&hellip;</span>
        </li>
        {% endif %}
        {% if articles_page.number < articles_paginator.num_pages %}
        <li>
            <a class="pagination-link" href="/{{ last_page.url }}">{{articles_paginator.num_pages}}</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
