<section class="hero is-info" id="sponsors" style="background-color: #2b87d3;">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-4">
                    <a href="https://aternos.org/" title="Aternos - Minecraft servers. Free. Forever.">
                        <img src="/{{THEME_STATIC_DIR}}/images/sponsors/aternos.png" />
                    </a>
                </div>
                <div class="column is-8">
                    <p class="title has-text-weight-light">We are proudly sponsored by <strong class="has-text-weight-bold">Aternos</strong></p>
                    <p class="subtitle">Minecraft Servers. Free. Forever.</p>
                </div>
            </div>
        </div>
    </div>
</section>
